html {
  font-family: Merriweather, serif;
  text-decoration: none;
}

.title {
  padding-top: 10px;
  padding-right: 10px;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
}

.center {
  display: block;
}

header {
  background-color: #75aa9c;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  color: #fff;
}

.cards {
  background-color: #ecc7b5;
  border-style: solid;
  border-color: #fff;
  border-width: 10px;
}

footer {
  background-color: #75aa9c;
}

.sans {
  font-family: "Merriweather Sans", sans-serif;
}

nav li:hover {
  background-color: #1d4f44;
  color: #fff;
}

nav a:hover {
  background-color: #1d4f44;
  color: #fff;
}

.current {
  background-color: #ecc7b5;
  color: black;
}

.btn {
  border-color: #1d4f44;
  background-color: #1d4f44;
}

.btn:hover {
  border-color: #75aa9c;
  background-color: #75aa9c;
}

.cards:hover {
  background-color: #75aa9c;
  border-style: solid;
  border-color: #fff;
  border-width: 10px;
}

h2 {
  color: #1d4f44;
}

.bg-fill {
  background-color: #ecc7b5;
}

h4 {
  color: #1d4f44;
}

.colorsans {
  font-family: "Merriweather Sans", sans-serif;
  color: #1d4f44;
}
